{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height nested-img">
  <main class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
    {{ .Content }}
  </main>
    <div class="pa3 pa4-ns w-100 w-70-ns center">
    {{ $section := .Paginate (where .Data.Pages "Section" .Section) }}
    {{ template "_internal/pagination.html" . }}
    <section class="w-100 mw8">
      {{ range  $section.Pages }}
          {{/* $.Scratch.Set "leftside" (not ($.Scratch.Get "leftside")) */}}
          {{/* .Scratch.Set "leftside" ($.Scratch.Get "leftside") */}}
          {{ .Scratch.Set "leftside" true }}
        <div class="relative w-100 mb4">
          {{ .Render "summary-with-image" }}
        </div>
      {{ end }}
    </section>
    {{ template "_internal/pagination.html" . }}
    </div>
  </article>
{{ end }}
