/* Borrowed from Stack Exchange: https://meta.stackexchange.com/questions/1939/kbd-elements-are-way-too-intrusive/ */
kbd{
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #FFF;
    background-color: #e1e3e5;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #FFF inset;
    white-space: nowrap;
}

.admonition-icon {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 40px;
    height: 60px;
    font-size: 56px;
    line-height: 136px;
    border-radius: 50%;
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
    float: left;
}

.admonition-content {
    display: block;
    margin: 0px;
    padding: .125em 1em;
    /*margin-left: 1em;*/
    margin-top: 2em;
    margin-bottom: 2em;
    overflow-x: auto;
    /*font-size: .9375em;*/
    background-color: var(--black-05);
}

.tip {
    fill: green;
}
.warning {
    fill: orange;
}

.hide-child-menu .child-menu {
    display: none;
}
.hide-child-menu:hover  .child-menu,
.hide-child-menu:focus  .child-menu,
.hide-child-menu:active .child-menu {
    display: block;
}


/*documentation-copy headings exagerate spacing and size to chunk content */
.documentation-copy h2 {
    margin-top: 3em;
    &.minor {
        font-size: inherit;
        margin-top: inherit;
        border-bottom: none;
    }
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

img .zz-scaled-img {
    max-width: 100%;
    max-height: 100%;
}
pre code {
    white-space: pre;
    line-height: inherit;
}

