{{ partial "header.html" . }}
<section class="content container">
  <div class="post">
    <h1>{{ .Title }}</h1>
    {{ partial "post-metas.html" . }}
    <article>
      {{if .Params.badges}}
      <span class="badges">
        {{range .Params.badges}}
        <a href="{{.url}}"><img class="badge" title="{{.alt}}" alt="{{.alt}}" src="{{.img}}"></a>
        {{end}}
      </span>
      {{end}}
      {{ .Content }}
    </article>
    {{ partial "comments.html" . }}
  </div>
</section>

{{ partial "footer.html" . }}
