<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
      appId: '{{ $.Site.Params.algolia.appId }}',
      apiKey: '{{ $.Site.Params.algolia.apiKey }}',
      siteId: '{{ $.Site.Params.algolia.siteId }}',
      branch: '{{ $.Site.Params.algolia.branch | default "master" }}',
      selector: '{{ $.Site.Params.algolia.selector | default "div#search" }}',
      {{ if $.Site.Params.algolia.theme }}
      theme: {{ $.Site.Params.algolia.theme }}
      {{ end }}
  });
</script>
