/*
 * Tweaks and overrides to hyde.css
 */

.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: 'Quattrocento', serif;
  font-size: 2.5rem;
}

.sidebar-nav {
  padding-left: 0;
  list-style: none;
  margin-bottom: 1rem;
}

.sidebar-sticky {
  font-size: 0.8rem;
}

.sidebar {
  background-color: #51121E;
}

html {
  font-family: 'Quattrocento Sans', sans-serif;
}

p.clip-attribute {
  text-align: right;
  font-size: 0.8rem;
}

/* From http://technology.posterous.com/make-css3-buttons-that-are-extremely-fancy */
a.fancy_button, button.fancy_button { 
  background: transparent;
  float: left;
  padding: 4px; 
  text-decoration: none; 
  outline: 0; 
  border-width: 1px; 
  border-style: solid;
  margin: 10px; 
  width: auto;
  overflow: visible;
  border-color: transparent transparent #666 transparent; 
  border-color: transparent transparent rgba(202,202,202,0.27) transparent;
  -webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px;
  -webkit-background-clip: padding-box;
}

a.fancy_button span, button.fancy_button span { 
  display: block; 
  float: left;
  border-width: 1px; 
  border-style: solid; 
  border-color: #ccc #444 #111 #444; 
  border-color: rgba(255,255,255,0.7) rgba(0,0,0,0.5) rgba(0,0,0,0.7) rgba(0,0,0,0.5); 
  font-size: 16px;
  color:#D09797;
  padding: 0.48em 2em; 
  cursor: pointer; 
  text-shadow: rgba(0,0,0,0.45) 0 -1px 0; 
  -webkit-box-shadow: rgba(0,0,0,0.75) 0px 0px 3px; -moz-box-shadow: rgba(0,0,0,0.75) 0px 0px 3px; box-shadow: rgba(0,0,0,0.75) 0px 0px 3px;
  -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.5, rgba(255,255,255,0.01)), to(transparent)); 
  background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.01) 50%, transparent);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF'); 
  -webkit-background-clip: padding-box;
}

a.fancy_button:hover span, button.fancy_button:hover span {  
  border-top-color: rgba(255,255,255,0.65); 
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(220,220,220,0.6)), color-stop(0.5, rgba(100,100,100,0.2)), color-stop(0.5, rgba(0,0,0,0.21)), to(rgba(0, 0, 0, 0.20))); 
  background: -moz-linear-gradient(top, rgba(220,220,220,0.6), rgba(100,100,100,0.2) 50%, rgba(0,0,0,0.21) 50%, rgba(0, 0, 0, 0.20));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#99dcdcdc', EndColorStr='#33000000'); 
  -webkit-background-clip: padding-box;
}

a.fancy_button:active span, button.fancy_button:active span {  
  border-top-color: rgba(255,255,255,0.2); 
  border-left-color: rgba(0,0,0,0.4); 
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(150,150,150,0.6)), color-stop(0.5, rgba(60,60,60,0.6)), color-stop(0.5, rgba(40,40,40,0.6)), to(rgba(20, 20, 20, 0.5))); 
  background: -moz-linear-gradient(top, rgba(150,150,150,0.6), rgba(60,60,60,0.6) 50%, rgba(40,40,40,0.6) 50%, rgba(20, 20, 20, 0.5));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#80969696', EndColorStr='#59000000'); 
  -webkit-box-shadow: inset 0 0 18px rgba(0,0,0,0.75), rgba(0,0,0,0.75) 0px 0px 3px; -moz-box-shadow: inset 0 0 18px rgba(0,0,0,0.75), rgba(0,0,0,0.75) 0px 0px 3px; box-shadow: inset 0 0 18px rgba(0,0,0,0.75), rgba(0,0,0,0.75) 0px 0px 3px; 
  -webkit-background-clip: padding-box;
}

a.fancy_button span:active, button.fancy_button span:active { 
  border-top-color: rgba(255,255,255,0.2); 
  border-left-color: rgba(0,0,0,0.4); 
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#80969696', EndColorStr='#59000000'); 
  -webkit-background-clip: padding-box;
}
.fancy_button strong{display:block;color:#fff;font-size:21px;font-family: 'gill sans', 'gill sans mt', 'gill sans mt pro', 'century gothic', corbel, sans-serif;}
.fancy_button em{font-weight:bold;font-style:normal;color:#FD7E7E;}

/* From http://askthecssguy.com/articles/showing-hyperlink-cues-with-css/ */

/* all A tags whose HREF attribute ends in .pdf */
a[href$='.pdf'] { 
	padding-left: 18px;
	background: transparent url(http://localhost:64046/new/icons/icon_pdf.gif) no-repeat center left;
}

/* all A tags whose REL attribute equals pdf */
a[rel='pdf'] { 
	padding-left: 18px;
	background: transparent url(http://localhost:64046/new/icons/icon_pdf.gif) no-repeat center left;
}

/*  all A tags whose REL attributes has the letters pdf somewhere mixed in*/
a[rel*='pdf'] { 
	padding-left: 18px;
	background: transparent url(http://localhost:64046/new/icons/icon_pdf.gif) no-repeat center left;
}

/* all A tags whose REL attribute contains the value pdf, seperated from other values with a space */
a[rel~='pdf'] { 
	padding-left: 18px;
	background: transparent url(http://localhost:64046/new/icons/icon_pdf.gif) no-repeat center left;
}

/* all A tags whose HREF attribute starts with mailto: */
a[href ^="mailto:"] {
	padding-left: 18px;
    background: transparent url(http://localhost:64046/new/icons/icon_mailto.gif) no-repeat center left;
   
}

/* all A tags whose CLASS attribute is popup */
a[class ="popup"] {
	padding-left: 18px;
    background: transparent url(http://localhost:64046/new/icons/icon_popup.gif) no-repeat center left;
}


a[href$='.doc'] { 
	padding-left: 18px;
	background: transparent url(http://localhost:64046/new/icons/icon_doc.gif) no-repeat center left;
}
a[href$='.xls'] { 
	padding-left: 18px;
	background: transparent url(http://localhost:64046/new/icons/icon_xls.gif) no-repeat center left;
}
a[rel ~='external'] {
	padding-left: 18px;
	background: transparent url(http://localhost:64046/new/icons/icon_external.gif) no-repeat center left;
}
